<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5c39e">  <td>22/06/02 11:57:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLogin.fetch_data(java.lang.String, java.lang.String)[pri:0, instance:TestLogin@1d16f93d]">fetch_data</td> 
  <td>main@366004251</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>22/06/02 11:57:52</td>   <td>9963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLogin.fetch_data(java.lang.String, java.lang.String)[pri:0, instance:TestLogin@1d16f93d]">fetch_data</td> 
  <td>main@366004251</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>22/06/02 11:57:55</td>   <td>13520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLogin.fetch_data(java.lang.String, java.lang.String)[pri:0, instance:TestLogin@1d16f93d]">fetch_data</td> 
  <td>main@366004251</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>22/06/02 11:57:59</td>   <td>16837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLogin.fetch_data(java.lang.String, java.lang.String)[pri:0, instance:TestLogin@1d16f93d]">fetch_data</td> 
  <td>main@366004251</td>   <td></td> </tr>
</table>
