<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.hyr.Listener.Demo</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_method6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_method3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_method2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_method5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_method4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_method1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
