<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5c39e">  <td>22/05/27 11:07:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo.test_method1()[pri:0, instance:com.hyr.Listener.Demo@6325a3ee]">test_method1</td> 
  <td>main@54495403</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>22/05/27 11:07:30</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo.test_method2()[pri:0, instance:com.hyr.Listener.Demo@6325a3ee]">test_method2</td> 
  <td>main@54495403</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>22/05/27 11:07:30</td>   <td>123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo.test_method3()[pri:0, instance:com.hyr.Listener.Demo@3224f60b]">test_method3</td> 
  <td>main@54495403</td>   <td></td> </tr>
</table>
